@import "./Navbar.scss";

@import "./Page2.scss";

@import "./Page3.scss";

@import "./Page4.scss";

@import "./Page5.scss";

@import "./Page6.scss";

@import  "./Page7.scss";

@font-face {
    font-family:avenir-reg ;
    src: url(./fonts/AvenirNext-Regular.ttf);
}
@font-face {
    font-family:avenir-demibold ;
    src: url(./fonts/AvenirNext-DemiBold.ttf);
}

@font-face {
    font-family:Gilroy-Bold ;
    src: url(./fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family:Gilroy-ExtraBold ;
    src: url(./fonts/Gilroy-ExtraBold.ttf);
}

@font-face {
    font-family:Inter-Regular ;
    src: url(./fonts/Inter-Regular.otf);
}

@font-face {
    font-family:Inter-ExtraBold ;
    src: url(./fonts/Inter-ExtraBold.otf);
}

